allow init vendor_data_file:file { lock append };

allow init sysfs:file { read write open };

allow init vendor_file:file { execute_no_trans };

allow init system_suspend_hwservice:hwservice_manager { find };
