on init
    setprop sys.usb.ffs.aio_compat 1
on property:sys.boot_completed=1
    chmod 0640 /sys/fs/selinux/enforce

on post-fs
    mount none /system/bin/hw/android.hardware.lights-service.mt6877 /vendor/bin/hw/android.hardware.lights-service.mediatek bind

on charger
    start charger

service charger /system/bin/charger
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    seclabel u:r:charger:s0
